/* Cart */
.cart--items {
  margin-left: 0.5em;
  box-sizing: border-box;
  max-height: 30vh;
  min-height: 20vh;
  overflow-y: scroll;
  width: 98%;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
}

.wishlist--container {
  min-height: 45vh;
}

.cart--record {
  box-sizing: border-box;
  displaY: flex;
  width: 95%;
  font-size: 1em;
  height: 70%;
  background-color: rgba(175, 175, 175, 0.2);
  padding: 1em;
  margin: 1em 0em 1em 0.7em;
  border-radius: 20px;
}
.cart--record button {
  scale: 0.8;
}

.wishlist--container .page--header:before {
  left: 2em;
  width: 80px;
}

.wishlist--items .record {
  margin-bottom: 1em;
}

.cart--header .page--header:before {
  left: 1.3em;
  width: 45px;
}

.cart--record--img {
  max-width: 20vw;
  height: 100%;
  border-radius: 5px;
}

.cart--item--details {
  display: flex;
  width: 90%;
  flex-direction: column;
  font-family: bold;
  font-size: 1.5em;
  height: 70%;
}

.cart--record--name, .cart--record--artist {
  padding: 0 0 0 15px;
  margin: 0;
}

.cart--record--name {
  font-size: 0.8em;
  max-width: 90%;
}

.cart--record--artist {
  font-weight: 300;
  font-size: 0.6em;
}

.cart--total--price {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.cart--record--buying button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em;
  margin-left: auto;
  cursor: pointer;
}
.cart--record--buying button:hover {
  background-color: rgb(55, 55, 55);
}

.cart--container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.cart--summary {
  box-sizing: border-box;
  font-size: 0.8em;
  width: 100%;
  min-height: 20vh;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-radius: 20px;
  padding: 1em;
  margin-lefT: 0.5em;
  display: flex;
  flex-direction: column;
}

.checkout--button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  height: 1.6em;
  font-size: 1.2em;
  padding: 0 1em;
  align-self: flex-end;
}
.checkout--button:hover {
  filter: brightness(80%);
}

.cart-record--total {
  displaY: flex;
  justify-content: space-between;
  padding-right: 1em;
}

.cart--quantity {
  padding: 0 1em;
}

.cart--record--buying {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: auto;
  padding-left: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
}

.cart {
  height: 20px;
  background-color: rgba(66, 66, 66, 0.3);
  padding: 0.5em;
  border-radius: 5px;
}

.wishlist--add {
  width: 7em;
}

.paypal--container {
  height: 100vh;
  width: 100vw;
}
.paypal--container .paypal--button {
  margin: 0 auto;
}

.cart--page {
  height: 100%;
}

@media (min-width: 600px) {
  .cart--record--buying button {
    font-size: 0.8em;
    scale: 1.1;
    margin: 0 0.8em;
  }
}
@media (min-width: 768px) {
  .cart--container {
    flex-direction: row;
    width: 120%;
    margin-left: -2.9em;
  }
  .cart--items {
    padding-left: 2em;
  }
  .cart--items .cart--record {
    scale: 1.2;
    width: 85%;
    margin-bottom: 2.5em;
    margin-top: 1.2em;
  }
  .cart--summary {
    width: 30%;
    font-size: 0.5em;
    padding-left: 2em;
    margin-left: 2em;
  }
  .cart--summary button {
    scale: 1.2;
  }
  .cart--record--img {
    min-width: 100%;
    min-height: 100%;
  }
  .cart--record--buying button {
    font-size: 0.65em;
    scale: 1;
    margin: 0 0.5em;
  }
  .cart--record--buying {
    font-size: 0.5em;
    padding-lefT: 0.5em;
  }
  .cart--record, .cart--items {
    max-height: 40vh;
    width: 85%;
  }
  .cart--record {
    margin: 0.5em;
    padding: 0.5em;
  }
  .cart--record--name {
    font-size: 0.7em;
  }
  .wishlist--container .page--header:before {
    left: 2em;
    width: 160px;
  }
  .cart--header .page--header:before {
    left: 1.3em;
    width: 90px;
  }
}
@media (min-width: 1000px) {
  .cart--container {
    margin-left: -5em;
  }
  .cart--record--buying button {
    font-sizE: 0.5em;
    margin: 0 0.8em;
  }
  .cart--record--buying {
    font-size: 0.7em;
    padding-lefT: 0.5em;
  }
  .cart--record--name {
    font-size: 1em;
  }
  .cart--record, .cart--items {
    max-height: 40vh;
    width: 80%;
  }
  .cart--items {
    padding-left: 4em;
  }
}
@media (min-width: 1300px) {
  .cart--record--buying button {
    font-sizE: 0.7em;
    margin: 0 0.8em;
  }
}
.new--records .page--header:before {
  width: 2.9em;
}

.new--record--container {
  box-sizing: border-box;
  font-size: 1em;
  padding-left: 1em;
  margin-bottom: -1em;
}
.new--record--container img {
  border-radius: 5px;
  min-width: 100%;
  max-width: 100%;
  max-height: 70%;
  min-height: 50%;
}

.new--record--info, .new--record--name, .new--record--artist, .new--record--buying {
  margin: 0.2em 0;
}

.new--record--buying {
  display: flex;
  justify-content: space-between;
}
.new--record--buying button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}
.new--record--buying button:hover {
  filter: brightness(80%);
}

.featured--record--info {
  padding-left: 0;
}

.featured--records .page--header {
  padding-top: 1.5em;
}
.featured--records .page--header:before {
  top: 2.7em;
  left: 4em;
  width: 5em;
}

.featured--record--container, .similar--records, .wishlist--items {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: scroll;
  font-size: 1em;
  padding: 0.5em;
  padding-right: 0;
}
.featured--record--container .record, .similar--records .record, .wishlist--items .record {
  font-size: 0.8em;
  margin-right: 0;
  min-width: 40vw;
  max-width: 40vw;
}
.featured--record--container .record button, .similar--records .record button, .wishlist--items .record button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  scale: 0.8;
  margin: 0 0.1em;
  font-sizE: 1.1em;
}
.featured--record--container .record button:hover, .similar--records .record button:hover, .wishlist--items .record button:hover {
  filter: brightness(80%);
}
.featured--record--container .record img, .similar--records .record img, .wishlist--items .record img {
  max-width: 40vw;
  min-width: 40vw;
  min-height: 40vw;
  max-height: 40vw;
}

@media (min-width: 768px) {
  .new--record--container {
    display: flex;
    font-size: 0.7em;
  }
  .new--record--container .record {
    min-width: 15vw;
    min-width: 20vw;
    max-height: 30vw;
  }
  .new--record--container .record img {
    max-width: 20vw;
    min-width: 20vw;
    max-height: 20vw;
    min-height: 20vw;
  }
  .featured--record--container .record, .similar--records .record, .wishlist--items .record {
    padding-bottom: 5em;
    font-size: 0.75em;
    margin-right: 0;
    min-width: 25vw;
    max-width: 25vw;
    min-height: 25vw;
  }
  .featured--record--container .record button, .similar--records .record button, .wishlist--items .record button {
    font-sizE: 0.75em;
  }
  .featured--record--container .record img, .similar--records .record img, .wishlist--items .record img {
    max-width: 25vw;
    min-width: 25vw;
    min-height: 25vw;
    max-height: 25vw;
  }
}
@media (min-width: 1200px) {
  .new--record--container {
    font-size: 0.7em;
  }
  .new--record--container .record {
    min-width: 25vw;
    min-width: 25vw;
    min-height: 45vw;
  }
  .new--record--container .record img {
    max-width: 26vw;
    min-width: 26vw;
    max-height: 26vw;
    min-height: 26vw;
  }
  .featured--record--container .record, .similar--records .record, .wishlist--items .record {
    font-size: 0.75em;
    margin-right: 0;
    min-width: 18vw;
    max-width: 18vw;
    min-height: 30vw;
    max-height: 30vw;
  }
  .featured--record--container .record button, .similar--records .record button, .wishlist--items .record button {
    font-sizE: 0.7em;
  }
  .featured--record--container .record img, .similar--records .record img, .wishlist--items .record img {
    max-width: 18vw;
    min-width: 18vw;
    min-height: 18vw;
    max-height: 18vw;
  }
}
.current--record {
  display: flex;
}
.current--record img {
  max-width: 40vw;
  min-width: 40vw;
  min-height: 40vw;
  margin-left: 1em;
}

.current--record--info {
  margin-right: 0;
  margin-left: 1em;
  position: relative;
  width: 50%;
}

.current--record--header .page--header:before {
  width: 70vw;
}

.current--record--artist {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.quantity--remaining {
  font-size: 0.7em;
}

.current--record--buying, .similar--records .record {
  margin-right: 0;
}
.current--record--buying button, .similar--records .record button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  scale: 0.7;
  min-width: 7em;
}
.current--record--buying button:hover, .similar--records .record button:hover {
  filter: brightness(80%);
}

.current--record--buying {
  width: 100%;
  position: absolute;
  bottom: 1px;
  left: -10px;
}
.current--record--buying button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  font-size: 0.8em;
  scale: 0.8;
  min-width: 7em;
  margin: 1px;
  margin-right: -10px;
}
.current--record--buying button:hover {
  filter: brightness(80%);
}

.similar--record--container {
  margin-top: 0;
  font-size: 0.75em;
}
.similar--record--container .page--header {
  margin: 0;
}
.similar--record--container .page--header:before {
  width: 4.1em;
}

#similar-record--info--container button {
  font-sizE: 1.2em;
}

@media (min-width: 768px) {
  .current--record {
    font-sizE: 0.8em;
  }
  .current--record img {
    max-height: 40vw;
    max-width: 40vw;
  }
  .current--record button {
    scale: 0.5;
    min-width: 6em;
    margin: 0;
  }
}
@media (max-width: 900px) {
  .current--record {
    min-width: 50vw;
  }
  .current--record img {
    max-height: 35vw;
    max-width: 35vw;
  }
}
@media (min-width: 1100px) {
  .current--record {
    font-sizE: 1em;
  }
  .similar-records--title {
    font-size: 1em;
  }
  .current--record--buying button {
    margin: auto 0.3em;
    scale: 0.9;
    height: 2em;
    min-width: 7em;
    padding: 0;
  }
  .current--record--title {
    font-size: 1.3em;
  }
  #similar-record--info--container button {
    font-sizE: 0.9em;
    scale: 0.9;
  }
}
@media (min-width: 1300px) {
  .current--record {
    font-size: 1em;
  }
  .current--record img {
    max-height: 30vw;
    min-height: 30vw;
    min-width: 30vw;
  }
}
.filter--select {
  margin-left: 0.5em;
  margin-right: 0.5em;
  width: 20%;
  height: 2em;
  align-self: center;
}

.search--record {
  align-self: center;
  margin-right: 0;
}

.display--sort--selector {
  align-self: center;
  margin-left: 1em;
  width: 25%;
  background-color: whitesmoke;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 1px 0 lightgrey;
  height: 2em;
}

.filter--container {
  margin-left: 1em;
  width: 90vw;
  display: flex;
}

.search--input {
  height: 1.2em;
  width: 30%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

#search--button {
  height: 1.95em;
  background-color: whitesmoke;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 5px;
  align-self: center;
  border: none;
  box-shadow: 1px 1px 1px 0 lightgrey;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.search--record--button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
}
.search--record--button:hover {
  filter: brightness(80%);
}

.reset--button {
  margin-left: 0.5em;
  height: 1.95em;
  background-color: whitesmoke;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 1px 0 lightgrey;
}

@media (min-width: 768px) {
  .filter--container {
    min-width: 100%;
  }
  .search--container {
    margin-top: -0.41em;
    min-width: 40%;
  }
  .filter--select {
    min-width: 30%;
  }
}
/* Form  */
.form-group {
  displaY: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

form input, form button, select, input, .search--button {
  width: 100%;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 1px 0 lightgrey;
  align-self: center;
}

.genre--selectors {
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
}
.genre--selectors select {
  min-width: 32.5%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.submit--button {
  width: 101%;
}

.data--val--msg {
  max-height: 5em;
  font-size: 0.75em;
  color: red;
}
.data--val--msg li {
  padding: 0 2em;
}

.input-validation-errorr {
  color: red;
}

@media (min-width: 768px) {
  .data--val--msg {
    font-size: 3em;
    color: red;
  }
  .data--val--msg li {
    padding: 0 1.5em;
  }
}
@media (min-width: 1400px) {
  form {
    width: 50vw;
    min-height: 80vh;
    margin-left: 0.5em;
  }
  form .data--val--msg {
    font-size: 2em;
    color: red;
  }
  form .data--val--msg li {
    padding: 0 1.5em;
  }
}
/* New Records */
.preview--title {
  margin-left: 1em;
}

.preview--artist {
  font-size: 0.3em;
}

.preview--record--image {
  width: 40%;
  margin: 0 2em;
}

.preview--new--record {
  padding-bottom: 4ems;
}

.preview--record--container .page--header:before {
  width: 5.3em;
}

@media (min-width: 768px) {
  .preview--title, .preview--new--record {
    font-size: 0.7em;
  }
  .preview--title {
    margin-left: 2em;
  }
  .new--record--container .page--header:before {
    width: 6em;
  }
  .preview--record--image {
    max-width: 25%;
    min-height: 25%;
  }
}
@media (min-width: 1500px) {
  .new--record--page {
    display: flex;
  }
  .preview--record--image {
    max-width: 50%;
    height: 50%;
  }
}
/* Record */
.record--list--page {
  height: 100%;
  margin-bottom: -2em;
}

.record--list--header {
  justify-content: space-between;
  display: flex;
}
.record--list--header .page--header:before {
  left: 2em;
  width: 2.6em;
}
.record--list--header button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
}
.record--list--header button:hover {
  filter: brightness(80%);
}

.record {
  margin: 1em;
  position: relative;
  displaY: flex;
  flex-direction: column;
  border-left: 1px solid rgba(150, 150, 150, 0.7);
  padding: 2em;
  padding-bottom: 0;
  min-width: 28vh;
  min-height: 28vh;
  font-size: 0.8em;
  padding-bottom: -1em;
  width: 60%;
  height: 90%;
}
.record img {
  min-height: 25vh;
  min-width: 25vh;
  border: 0.5px solid grey;
}
.record img {
  margin-bottom: 1em;
  border-radius: 5px;
  min-width: 75vw;
  max-width: 75vw;
  max-height: 75vw;
  min-height: 75vw;
}

.page--number--container {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 2em auto;
  height: 2.5em;
}
.page--number--container button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  padding: 0.3em 0.6em;
  margin: 0 0.1em;
}
.page--number--container button:hover {
  filter: brightness(80%);
}

.record--name, .record--artist, .record--info, .record--buying {
  margin: 0.2em;
}

.record--artist {
  font-size: 0.95em;
}

.record--info {
  font-size: 0.8em;
}

.record--buying, .current--record--buying, .featured--record--container .record {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.record--buying button, .current--record--buying button, .featured--record--container .record button {
  margin-left: auto;
}

.wishlist--add {
  margin-left: 1em;
  padding: 0.5em 0.6em;
}

.record--container, .collection--record--container {
  displaY: grid;
  margin: 0 0.25em;
  font-size: 1.3em;
}

.record--list--cart--add {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
}
.record--list--cart--add:hover {
  filter: brightness(80%);
}

.record--list--header input {
  height: 2em;
  align-self: center;
  width: 60%;
  margin-left: 1em;
}

.record--list--header button {
  align-self: center;
  margin: 1.9em;
  height: 40%;
}

.current--record--title, .similar-records--title {
  margin-left: 0.5em;
}

@media (min-width: 768px) {
  .record--container, .record--collection--container {
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.7em;
  }
  .record--container .record, .record--collection--container .record {
    padding-left: 3.5em;
    padding-bottom: -1em;
    min-width: 20vw;
    min-height: 30vh;
  }
  .record--container .record img, .record--collection--container .record img {
    border-radius: 5px;
    min-width: 20vw;
    max-width: 20vw;
    max-height: 20vw;
    min-height: 20vw;
  }
  #new--record--button {
    font-size: 0.5em;
  }
}
@media (min-width: 1200px) {
  .record--container {
    grid-template-columns: repeat(4, 1fr);
  }
  .record--container .record {
    padding-bottom: -1em;
    min-width: 15vw;
  }
  .record--container .record img {
    border-radius: 5px;
    min-width: 17vw;
    max-width: 17vw;
    max-height: 17vw;
    min-height: 17vw;
  }
}
@media (min-width: 1500px) {
  .record--container {
    grid-template-columns: repeat(5, 1fr);
  }
  .record--container .record {
    position: relative;
    displaY: flex;
    flex-direction: column;
    border-left: 1px solid rgba(150, 150, 150, 0.7);
    padding: 2em;
    padding-bottom: 0;
    min-width: 28vh;
    min-height: 28vh;
    font-size: 0.8em;
    min-width: 10vw;
  }
  .record--container .record img {
    min-height: 25vh;
    min-width: 25vh;
    border: 0.5px solid grey;
  }
  .record--container .record img {
    border-radius: 5px;
    min-width: 14vw;
    max-width: 14vw;
    max-height: 14vw;
    min-height: 14vw;
  }
}
nav h1 {
  background-color: red;
  align-self: center;
}

.logo--container {
  height: 100%;
}

nav {
  width: 100%;
  display: flex;
  font-size: 0.5em;
  margin: 0;
  background-color: rgb(66, 66, 66);
  color: white;
  border-bottom: 1px solid rgb(161, 161, 161);
  height: 7vh;
}

ul {
  display: flex;
  width: 72%;
  justify-content: space-between;
  align-items: center;
  margin-left: -4.7em;
}

li {
  list-style: none;
  align-self: center;
}

.nav--item {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.5em;
  padding: 2.2em 0.5em;
  margin: 0;
}
.nav--item:hover {
  background-color: rgb(56, 56, 56);
}
.nav--item:visited {
  text-decoration: none;
  color: white;
}

.nav--buttons {
  margin-left: 10%;
  width: 30%;
  display: flex;
}

.image--record {
  margin-bottom: 1em;
  height: 40px;
  align-self: center;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 50%;
}

.cart--container {
  align-self: flex-end;
  position: relative;
  margin-right: 1em;
}

.counter {
  background-color: rgb(255, 220, 220);
  border-radius: 50%;
  padding: 0.3em;
  position: absolute;
  top: -5px;
  lefT: -5px;
  font-family: bold;
  font-size: 1.1em;
}

.cart {
  height: 20px;
  border: 1px solid black;
  margin: 0;
  background-color: lightgrey;
  border-radius: 5px;
}

.home--link {
  text-decoration: none;
  color: white;
}
.home--link:visited {
  text-decoration: none;
  color: white;
}

.toggle--dark--mode--dark {
  align-self: center;
  width: 4em;
  height: 2em;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.toggle--dark--mode--dark:after {
  content: "";
  width: 22px;
  top: 1px;
  right: 1px;
  height: 21px;
  position: absolute;
  background: linear-gradient(180deg, #2b2b2b, #343434);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.toggle-dark--mode--light {
  align-self: center;
  width: 4em;
  height: 2em;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
.toggle-dark--mode--light:after {
  content: "";
  width: 22px;
  top: 1px;
  lefT: 1px;
  height: 21px;
  position: absolute;
  background: linear-gradient(180deg, #ececec, #bfbfbf);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.logo--container {
  margin: 1em 1em 0 1.5em;
  displaY: flex;
}

@media (min-width: 768px) {
  ul {
    width: 100%;
  }
  nav h1 {
    font-size: 1.3em;
    margin-bottom: 2em;
  }
  .nav--item {
    padding: 1.5em 1em;
    font-size: 1em;
    margin-left: 2em;
  }
  .image--record {
    margin-bottom: 2em;
  }
  li {
    padding: 0.4em;
    width: 100%;
  }
  .counter {
    font-sizE: 0.75em;
    top: -10px;
  }
  .cart--container {
    scale: 0.8;
  }
}
.collection--header .page--header:before {
  width: 3.8em;
  left: 1.7em;
}

.delete--button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
}
.delete--button:hover {
  filter: brightness(80%);
}

.collection--page {
  height: 100vh;
}

.footer--container {
  border-top: 1px solid lightgrey;
  display: flex;
  font-sizE: 0.5em;
  color: rgba(255, 255, 255, 0.82);
  width: 100vw;
  height: 17vh;
  justify-content: space-evenly;
  align-content: center;
  padding-bottom: 1em;
}
.footer--container .company-container {
  max-width: 20%;
  margin: auto 0;
}
.footer--container h3 {
  font-size: 1em;
}
.footer--container .contact--container {
  margin: auto 0;
}
.footer--container .signup--container {
  margin: auto 0;
  max-width: 20%;
}
.footer--container .signup--container button {
  height: 50%;
  align-self: center;
  background-color: rgb(66, 66, 66);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.8em;
  font-family: "Inter";
  cursor: pointer;
  font-weight: bold;
  height: 2.5em;
  width: 105%;
}
.footer--container .signup--container button:hover {
  filter: brightness(80%);
}
.footer--container .signup--container input {
  font-size: 1em;
  width: 100%;
}

.blog--page {
  margin: 0;
  height: 75vh;
}
.blog--page .page--header {
  margin: 0;
  padding-bottom: 0.5em;
}

.post--container {
  padding: 0;
  margin: 0;
  displaY: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: 4.5em;
}
.post--container h1 {
  margin: 0;
  margin-bottom: 0.5em;
  ordeR: 0;
  font-sizE: 1.2em;
}
.post--container h2 {
  font-sizE: 1em;
  margin: 0;
  ordeR: 4;
}
.post--container .post--album--info {
  ordeR: 4;
  margin-bottom: 0.5em;
}
.post--container .post--album--info .post--date--span {
  opacity: 70%;
}
.post--container .post--album--info p {
  margin-top: 0.5em;
}
.post--container img {
  margin-bottom: 0.5em;
  max-width: 70%;
  order: 2;
}
.post--container p {
  max-width: 70%;
  font-size: 0.6em;
  margin: 0;
  order: 4;
}
.post--container .post--details--container {
  display: flex;
  flex-direction: column;
}
.post--container .post--title--date {
  display: flex;
}
.post--container .post--title--date p {
  margin-left: 17em;
}

@media (min-width: 650px) {
  .post--container {
    margin-left: 1em;
    font-size: 0.8em;
  }
  .post--container img {
    width: 30%;
    order: 2;
  }
  .post--container h1 {
    width: 100%;
  }
  .post--container .post--details--container {
    flex-direction: row;
  }
  .post--container .post--album--info {
    margin: 0;
    margin-left: 0.5em;
  }
  .post--container .post--album--info p {
    margin: 0;
  }
  .post--container .post--title--date p {
    margin-left: 17em;
  }
}
@media (min-width: 1200px) {
  .post--container {
    margin-left: 1em;
    font-size: 0.8em;
  }
  .post--container img {
    width: 20%;
    order: 2;
  }
}
@media (min-width: 1500px) {
  .post--container {
    font-size: 1em;
  }
  .post--container img {
    width: 15%;
  }
}
body {
  margin: 0 0em;
  padding: 0;
  font-family: "Inter", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.main {
  margin: 0;
}

.page--header {
  margin-top: 0;
  padding-top: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 0;
  position: relative;
  margin-bottom: 0.3em;
}
.page--header:before {
  position: absolute;
  left: 4em;
  top: 1.7em;
  height: 0;
  width: 70px;
  content: "";
  border-top: 2px solid pink;
}
.page--header .record--buying {
  margin-top: auto;
}

@media (min-width: 768px) {
  body {
    margin: 0 0em;
    font-size: 2em;
  }
  .form-group {
    font-size: 0.2em;
  }
  .page--header {
    font-sizE: 1.5em;
  }
}/*# sourceMappingURL=styles.css.map */