@import 'mixins';

.filter--select{
    margin-left: 0.5em;
    margin-right: 0.5em;
    width:20%;
    height:2em;
    align-self: center;
}
.search--record {
    align-self: center;
    margin-right:0;
}
.display--sort--selector {
    align-self: center;
    margin-left: 1em;
    width: 20%;
    background-color: whitesmoke;
    margin-bottom: 1em;
    border-radius: 5px;
    padding:5px;
    border:none;
    box-shadow: 1px 1px 1px 0 lightgrey;
    height: 2em;
}
.filter--container {
    margin-left:0.5em;
    width:90vw;
    display:flex;
}
.search--input {
    height: 1.2em;
    width: 30%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
#search--button {
    height:1.95em;
    background-color: whitesmoke;
    margin-bottom: 1em;
    border-radius: 5px;
    padding:5px;
    align-self: center;
    border:none;
    box-shadow: 1px 1px 1px 0 lightgrey;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}
.search--record--button {
    @include button;
}
.reset--button {
    margin-left: 0.5em;
    height:1.95em;
    background-color: whitesmoke;
    margin-bottom: 1em;
    border-radius: 5px;
    padding:5px;
    border:none;
    box-shadow: 1px 1px 1px 0 lightgrey;
}

@media (min-width: 768px) {
    .filter--container {
        min-width: 100%;
    }
    .search--container {
        margin-top: -0.41em;
        min-width:40%;
    }
    .filter--select {
        min-width: 30%;
    }
}