@mixin button {
    height:50%;
    align-self: center;
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    border:none;
    color:white;
    font-size:0.8em;
    width: 10em;
    height:3em;
    font-family: 'Inter';
    cursor:pointer;
    font-weight: bold;
    &:hover {
        filter:brightness(80%);
    }
}
@mixin record {
    padding-lefT: 12%;
    position: relative;
    displaY:flex;
    flex-direction: column;;
    border-left: 1px solid rgba(150, 150, 150, 0.7);
    border-right: 1px solid rgba(150, 150, 150, 0.7);
    padding:0.5em;
    min-width:25vh;
    min-height:20vh;
    font-size: 0.8em;
    & img {
        min-height:25vh;
        min-width:25vh;
        border: 0.5px solid grey;
    }
}